body {
  background: rgb(97, 85, 7);
  color: aliceblue;
  text-align: center;
}
footer,
a {
  color: aquamarine;
  padding: 10px;
}
img {
  padding-bottom: 20px;
  max-width: 80%;
  margin: auto;
}

a:visited {
  color: yellow;
}
